body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.top-banner {
    display: flex;
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.half-width {
    width: 50%;
    padding-left: 70px;
}
.half-width img {
    width: 80%;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
.name-color {
    color: orangered;
}
.hire-button {
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 5px 10px;
    color: white;
    border-radius: 15px;
    font-weight: 700;
}
.dream-section {
    display: flex;
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 100px;
}
.dream-text {
    padding-right: 100px;
}
.experiences-items {
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;
}
.experiences {
    display: flex;
}
.box-shadow {
    box-shadow: 10px 10px 40px gray;
    border-radius: 15px;
}
#left-exp {
    margin: 0% 2% 0% 5%;
    border-left: 7px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(blue,rgb(90, 167, 238));
}
#right-exp {
    margin: 0% 5% 0% 2%;
    border-left: 7px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(rgb(255, 0, 13),rgb(231, 108, 114));
}
.year-color {
    color: orange;
}